<section>
    <div class="container">

        <div class="title d-flex align-items-center">
            <h1>{{title}}</h1>
            <div class="border-black"></div>
        </div>

        <a class="link_main_news">
            <div class="main_news">
                <div class="header_news">
                    <img [src]="contents[0]?.image" alt="">
                </div>
                <div class="body_news">
                    <h2>{{contents[0]?.title}}</h2>
                    <p>{{contents[0]?.subtitle}}</p>
                    <!-- <h3>{{contents[0]?.describe}}</h3> -->
                </div>

            </div>
        </a>
        <div class="row">
            <div class="col-8">
                <div class="card_notice">
                    <img src="../../../assets/img/pix-record.png" />
                    <div class="info_notice">
                        <h2>PIX: Recorde de transações durante o ano de 2022</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt .
                        </p>
                    </div>
                </div>

                <div class="card_notice">
                    <img src="../../../assets/img/moeda.png" />
                    <div class="info_notice">
                        <h2>Brasil: Previsto grande crescimento em 2023</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt .
                        </p>
                    </div>
                </div>
                <!-- <ng-container *ngFor="let content of contents">
                    <div class="card_notice">
                        <img [src]="content?.image" alt="">
                        <div class="info_notice">
                            <h4>{{content?.title}}</h4>
                            <p>{{content?.subtitle}}</p>
                        </div>
                    </div>
                </ng-container> -->
            </div>
            <div class="col-3">
                <div class="col-md-3 d-flex flex-column">
                    <app-card-lateral title="Blog do Fred Alves" image="../../../assets/img/FredPerfil.png"
                        heightImage="180" callToAction="Ver mais"></app-card-lateral>
                    <app-card-lateral title="Versão Impressa" heightImage="180"
                        image="../../../assets/img/versao-impressa.png" callToAction="Ver mais"></app-card-lateral>
                </div>
            </div>
        </div>
    </div>
    <app-news-letter>

    </app-news-letter>
</section>