<header>
  <!-- <div class="container"> -->
  <div class="header-nav">
    <a class="navbar-brand" href="#">
      <img src="./assets/logo/CNNPortal-logo.svg" alt="">
      <span>DO INTERIOR DO TOCANTINS PARA O MUNDO</span>
    </a>
    <span>Tudo o que você precisa saber sobre tudo o que importa</span>
    <div class="social-networks">
      <a href="#"><img src="./assets/logo/facebook-logo.svg" alt="Logo Facebook"></a>
      <a href="#"><img src="./assets/logo/twitter-logo.svg" alt="Logo Twitter"></a>
      <a href="#"><img src="./assets/logo/linkedin-logo.svg" alt="Loho Linkedin"></a>
    </div>
  </div>


  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="conteiner">
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="#">Cidade</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Política</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Econonomia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Segurança</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Educação</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Esporte CN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Memória </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link border-nav" href="#">CNN Social</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link border-nav " href="#">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- <div class="options-navbar">
    <nav>
      <ul>
        <li>
          <a href="#">Cidade</a>
        </li>
        <li>
          <a href="#">Política</a>
        </li>
        <li>
          <a href="#">Econonomia</a>
        </li>
        <li>
          <a href="#">Segurança</a>
        </li>
        <li>
          <a href="#">Educação</a>
        </li>
        <li>
          <a href="#">Esporte CN</a>
        </li>
        <li>
          <a href="#">Memória</a>
        </li>
      </ul>
    </nav>
  </div> -->
  <!-- </div> -->
</header>