
img{
  width: 100px;
}
.phrase{
  margin-left: 15%
}
.container-social-icons{
  margin-right: 5%;
}
.social-icons{
  list-style-type: none;
  display: flex;
  flex-direction: row;  
}
.first-navbar{
  background-color: #d54343;
}
.second-navbar{
  background-color: #DCDCDC;
}
.icon-section{
  margin-left: 25%;
}
.icon-face{
  margin-right: 10%;
}
.icon-twitter{
  margin-right: 10%;
}