<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-card title="Vivo apresenta instabilidades para alguns usuários." image="../../../assets/img/vivo2.png"
                tag="Fora do ar!"></app-card>
            <app-card title="App Contratei ganha prêmio da Google Play Store" image="../../../assets/img/contratei.png"
                tag="Tocantins"></app-card>
        </div>
        <div class="col-md-6">
            <app-card-principal image="../../../assets/img/economia-fraca.png"
                title="Entenda o que está segurando o crescimento do PIB brasilero" tag="Economia Enfraquecida"
                resume="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ."></app-card-principal>
        </div>
        <div class="col-md-3 d-flex flex-column">
            <app-card-lateral title="Blog do Fred Alves" image="../../../assets/img/FredPerfil.png" heightImage="180"
                callToAction="Ver mais"></app-card-lateral>
            <app-card-lateral title="Versão Impressa" heightImage="180" image="../../../assets/img/versao-impressa.png"
                callToAction="Ver mais"></app-card-lateral>
        </div>
    </div>

    <div class="row economy">
        <h1>Economia</h1>
        <div class="col-md-3">
            <app-card image="../../../assets/img/pix-record.png"
                title="Pix: Recorde de transações durante o ano de 2022"></app-card>
        </div>
        <div class="col-md-3">
            <app-card image="../../../assets/img/moeda.png"
                title="Brasil: Previsto grande crescimento em 2023"></app-card>
        </div>
        <div class="col-md-3">
            <app-card image="../../../assets/img/gado.png"
                title="Tocantins: Redução alíquota de ICMS de gado bovino"></app-card>
        </div>
        <div class="col-md-3 d-flex flex-column">
            <app-card-lateral title="Economia" image="../../../assets/img/economia.png" heightImage="280"
                callToAction="Ver mais"></app-card-lateral>
        </div>
    </div>
</div>