<div class="container pt-5">
    <div class="row">
        <div class="col-md-3">
            <app-card></app-card>
            <app-card></app-card>
        </div>
        <div class="col-md-6">
            <app-card-principal></app-card-principal>
        </div>
        <div class="col-md-3 d-flex flex-column">
            <app-card-lateral></app-card-lateral>
            <app-card-lateral></app-card-lateral>
        </div>
    </div>

    <div class="row economy">
        <h1>Economia</h1>
        <div class="col-md-3">
            <app-card></app-card>
        </div>
        <div class="col-md-3">
            <app-card></app-card>
        </div>
        <div class="col-md-3">
            <app-card></app-card>
        </div>
        <div class="col-md-3 d-flex flex-column">
            <app-card-lateral></app-card-lateral>
        </div>
    </div>
</div>